/pkg/
/batocera-emulationstation/
/es-theme-carbon/
/src/
/batocera-emulationstation-*.zst
/es_input.cfg
/downloads/
/tmp
/sources/fs-root/opt/batocera-emulationstation/cfg.js
/package/src
/package/downloads