shell=bash
source-path=SCRIPTDIR
source-path=sources/fs-root
source-path=sources/fs-root/opt/batocera-emulationstation/lib
external-sources=true

disable=1090 # none-constant input to source
disable=2155 # split declare and assign to prevent masking exit codes
disable=2207 # prefer mapfile or read -a
disable=2329 # never invoked: shellcheck can't properly handle functions with '#' in their names
