---
---

@import "{{ site.theme }}";

header, body, section {
  box-sizing: border-box !important;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
}

section {
  width: calc(100% - 260px);
}

@media print, screen and (max-width: 960px) {
  header, body {
    padding: 0px 5px 0px 0px;
  }
  header {
    margin: 30px 0px;
  }
  section {
    width: 100% !important;
  }
}

@media print, screen and (max-width: 1310px) {
  /* move submenu back to the bottom when the screen isn't wide enough to support it */
  section > #sidemenu {
    position: relative;
    width: auto; height: auto;
    top: inherit;
    right: inherit;
    border: none;
  }
  /* must also reset changes to body width */
  body { 
    width: auto !important;
    padding: 5px;
  }
}
