name: Run tests

on:
  push:
    branches: ['main', 'feature/**', 'bugfix/**', 'release/**']
    paths:
      - '*/**'
      - '!sources/page-template/**'
      - '!sources/*.*'
      - '!.*'
      - '.github/workflows/tests.yml'

jobs:
  verify:
    name: Syntax and tests
    runs-on: ubuntu-24.04
    env:
      BRANCH_NAME: ${{ github.ref_name }}
      IS_GITHUB: "true"
    outputs:
      coverage-data: ${{ steps.coverage-upload.outputs.artifact-id }}
      pagesBuild: ${{ steps.build_pages.outputs.artifact_id }}

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Set Node version
        uses: actions/setup-node@v5
        with:
          node-version: 24
      
      - name: Patch PATH
        run: | 
          echo "${{ github.workspace }}/.github/workflows/scripts" >> $GITHUB_PATH

      - name: Basic syntax check
        run: bash scripts/check-syntax.sh
        
      - name: Generate configuration
        run: scripts/run-js-tests.sh --config-only
        
      - name: Test btc-config (js)
        run: scripts/run-js-tests.sh --skip-config --with-reports #--run-name "Test btc-config" './test/js/**/*.test.js'
      
      - name: Upload coverage results
        id: coverage-upload
        if: ${{ github.ref_name == 'main' || startsWith(github.ref_name, 'release/') }}
        uses: actions/upload-artifact@v4
        with:
          name: coverage-data.info
          path: tmp/results/js.coverage.info

  #    - name: Test emulatorlauncher (shell)
  #      env:
  #        COVERAGE_SEVERITY: none
  #      run: scripts/run-js-tests.sh --skip-config --run-name "Test shell scripts" './test/shell/**/*.test.js'

  
  coverage_details:
    name: Detailed coverage report
    runs-on: ubuntu-24.04
    needs: verify
    if: ${{ needs.verify.outputs.coverage-data }}
    env:
      IS_GITHUB: "true"

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Install lcov + genhtml
        run: .github/workflows/scripts/install-report-tools.sh

      - name: Get coverage data
        uses: actions/download-artifact@v5
        with:
          artifact-ids: ${{ needs.verify.outputs.coverage-data }}
          path: tmp/results

      - name: Generate reports
        run: |
          scripts/generate-reports.sh || exit 1
        
      - name: Upload coverage details
        id: coverage-report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report.html
          path: tmp/reports/coverage/
