name: Update pages

on:
  push:
    branches: [ 'page-update/**' ]

jobs:
  create-pages:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    env:
      BRANCH_NAME: ${{ github.ref_name }}

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.DEPLOY_KEY }}
          fetch-depth: 0

      - name: Set Node version
        uses: actions/setup-node@v5
        with:
          node-version: 24

      - name: Fix node path
        run: |
          if ! [ -x /usr/bin/node ]; then
            sudo ln -s "$(which node)" /usr/bin/node
          fi

      - name: generate documentation
        run: node scripts/create-docs.js --generate-version

      - name: update 'pages' branch
        run: |
          git config user.name "Github Bot"
          git config user.email "<>"
          scripts/update-pages.sh "${BRANCH_NAME#page-update\/}" --push
